#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: $off-white;
  img {
    width: 150px;
    box-shadow: 1px 1px 5px $light-green;
    margin: 20px;
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: $teal;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 17px;
    font-weight: bold;
    color: $teal;
  }
  a {
    color: $light-green;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      color: $sea-green;
    }
  }
  .fa-heart {
    color: $pink;
  }
}
