// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #616668;
$light-gray: #F4F4F4;
$off-white: #EEF0F2;
$shadow: rgba(0, 0, 0, 0.2);

$pink: #DAA49A;
$teal: #55828B;
$sea-green: #87BBA2;
$light-green: #C9E4CA;
